[submodule "Programming in C and C++"]
	path = Programming in C and C++/Answers
	url = https://github.com/BlenDaniel/Programming-in-C-and-C-.git
[submodule "Operating Systems"]
	path = Operating Systems
	url = https://github.com/BlenDaniel/Operating-System.git
