[submodule "Programming"]
	path = Programming
	url = https://github.com/BlenDaniel/Programming-in-C-and-C-.git
[submodule "Operating"]
	path = Operating
	url = https://github.com/BlenDaniel/Operating-System.git
[submodule "Programming in C and C++"]
	path = Programming in C and C++
	url = https://github.com/BlenDaniel/Programming-in-C-and-C-.git
[submodule "Operating Systems"]
	path = Operating Systems
	url = https://github.com/BlenDaniel/Operating-System.git
